node_modules/
downloads/
syorimachi_folder/
karioki/
AtomicParsley.exe
deno.exe
yt-dlp.exe
finished.txt
config.json
起動.bat.lnk
wallpaper.png
wallpaper.jpg
profiles/
仮置きフォルダ/
cache/
ffmpeg.exe
.git-rewrite/
libopenh264.dll
emoji-dictionary.json
config.emoji-dictionary.json
ffprobe.exe
